.tag {
  background-color: rgba(229, 235, 254, 1);
  color: rgba(3, 37, 150, 1);
  border-radius: 8px;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* small */
@media screen and (max-width: 480px) {
  .tag {
    width: auto;
    height: 20px;
    margin: 4px;
    padding: 4px 8px;
    font-size: 9px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
