.delete-all-actors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* small */
@media screen and (max-width: 480px) {
  .delete-all-actors {
    font-size: 18px;
    margin-top: 28px;
  }

  /* .select-actors-btn {
      width: 324px;
    }
  
    .select-actors-field {
      margin: 24px auto;
    }
  
    .select-actors-field label {
      font-size: 18px;
    } */
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  .delete-all-actors {
    font-size: 22px;
    margin-top: 28px;
  }
  /*   
    .select-actors-field {
      margin: 24px auto;
    }
  
    .select-actors-field label {
      font-size: 22px;
    }
  
    .select-actors-btn {
      width: 404px;
    }
  
    .select-actors-delete-btn {
      margin-top: 72px;
    } */
}

/* large */
@media (min-width: 1025px) {
  .delete-all-actors {
    font-size: 22px;
    margin-top: 28px;
  }
}
