.add-actor {
  display: flex;
  flex-direction: column;
}

.add-acto-group {
  align-items: flex-start;
  padding: 16px;
}

.btn-positioning {
  margin: 16px 0px;
}

/* small */
@media screen and (max-width: 480px) {
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
