.add-edit-actor {
  display: flex;
  flex-direction: column;
}
.add-edit-actor-group {
  display: flex;
  flex-direction: column;
}
/* small */
@media screen and (max-width: 480px) {
  .add-edit-actor-group {
    padding: 16px;
  }

  .add-edit-actor-changed-mind-btn {
    margin: 16px 0px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
