/* sort, select */
.btn-type-1 {
  background-color: #eee5fe;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--off-black);
  font-style: normal;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* edit, delete, ascending, descending */
.btn-type-2 {
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* add new actor, update */
.btn-primary {
  background-color: var(--primary);
  border-radius: 12px;
  color: #fcfcfc;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* close button */
.close-btn {
  background-color: var(--white);
  border-radius: 30px;
  color: rgba(110, 113, 145, 1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.close-btn-notification-window {
  box-shadow: none;
  opacity: 0.5;
}

/* readMore/readLess button */
.read-more-read-less-btn {
  color: rgba(244, 183, 64, 1);
  font-weight: 600;
  line-height: 12px;
}

.more-arrow {
  transform: rotate(90deg);
}

.less-arrow {
  transform: rotate(270deg);
}

/* edit icon */
.edit-icon {
  line-height: 120%;
}

/* ascending arrow icon */
.ascending-arrow-icon {
  line-height: 160%;
  font-weight: 600;
}

/* descending arrow icon */
.descending-arrow-icon {
  line-height: 160%;
  font-weight: 600;
}

/* delete icon */
.delete-icon {
  line-height: 160%;
}

/* changed mind button */
.changed-mind-btn {
  background-color: var(--white);
  color: var(--off-black);
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

/* SMALL */
@media screen and (max-width: 480px) {
  .btn-type-1 {
    width: 160px;
    height: 37px;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
  }

  .btn-type-2 {
    width: 155px;
    height: 40px;
    font-size: 10px;
    /* margin: 10px 3.5px; */
  }

  .btn-primary {
    width: 335px;
    height: 56px;
    font-size: 15px;
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 20px;
    padding: 16px 24px; */
  }

  /* close button */
  .close-btn {
    width: 24px;
    height: 24px;
    font-size: 15px;
    /* padding: 4px; */
  }

  .close-btn-notification-window {
    font-size: 20px;
  }

  /* readMore/readLess button */
  .read-more-read-less-btn {
    font-size: 10px;
    margin: 10px 0px;
  }

  .more-arrow {
    margin: 0px 3px;
  }

  .less-arrow {
    margin: 0px 3px;
  }

  /* edit icon */
  .edit-icon {
    font-size: 10px;
    margin-left: 4px;
  }

  /* ascending arrow icon */
  .ascending-arrow-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  /* descending arrow icon */
  .descending-arrow-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  /* delete icon */
  .delete-icon {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }

  /* changed mind button */
  .changed-mind-btn {
    font-size: 15px;
  }
}

/* MEDIUM */

@media (min-width: 481px) and (max-width: 1024px) {
  .btn-type-1 {
    font-weight: 500;
    font-size: 27px;
    gap: 4px;
    width: 442px;
    height: 52px;
  }
}

/* LARGE */
@media (min-width: 1025px) {
  .btn-type-1 {
    font-weight: 400;
    font-size: 24px;
    gap: 8px;
    width: 440px;
    height: 52px;
    /* nu sunt definite width si heigth */
  }
}
