/* sort, select */
.btn-type-1 {
  background-color: #eee5fe;
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--off-black);
  font-style: normal;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* edit, delete, ascending, descending */
.btn-type-2 {
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-opacity {
  opacity: 0.5;
}

/* add new actor, update */
.btn-primary {
  background-color: var(--primary);
  border-radius: 12px;
  color: #fcfcfc;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-type-4 {
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;

  line-height: 120%;
}

/* close button */
.close-btn {
  background-color: var(--white);
  color: rgba(110, 113, 145, 1);
}

.card-close-btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.modal-close-btn {
  padding: 4px;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

.notification-window-close-btn {
  opacity: 0.5;
}

/* readMore/readLess button */
.read-more-read-less-btn {
  color: rgba(244, 183, 64, 1);
  font-weight: 600;
  line-height: 12px;
}

.more-arrow {
  transform: rotate(90deg);
}

.less-arrow {
  transform: rotate(270deg);
}

/* edit icon */
.edit-icon {
  line-height: 120%;
}

/* ascending & descending arrow icon */
.arrow-icon {
  line-height: 160%;
  font-weight: 600;
}

/* delete icon */
.delete-icon {
  line-height: 160%;
}

/* changed mind button */
.changed-mind-btn {
  background-color: var(--white);
  color: #4e4b66;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

/* small */
@media screen and (max-width: 480px) {
  /* sort, select */
  .btn-type-1 {
    width: 160px;
    height: 37px;
    font-size: 14px;
    font-weight: 500;
    gap: 4px;
  }

  /* edit, delete, ascending, descending */
  .btn-type-2 {
    width: 144px;
    height: 40px;
    font-size: 10px;
  }

  /* add new actor, update */
  .btn-primary {
    width: 335px;
    height: 52px;
    font-size: 15px;
  }

  /* close button */
  .close-btn {
    width: 24px;
    height: 24px;
    font-size: 15px;
    padding: 4px;
  }

  .notification-window-close-btn {
    font-size: 20px;
    margin-top: 4px;
    margin-left: 64px;
  }

  /* readMore/readLess button */
  .read-more-read-less-btn {
    font-size: 10px;
    margin: 10px 0px;
  }

  .more-arrow {
    margin: 0px 3px;
  }

  .less-arrow {
    margin: 0px 3px;
  }

  /* edit icon */
  .edit-icon {
    font-size: 10px;
    margin-left: 4px;
  }

  /* ascending & descending arrow icon */
  .arrow-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  /* delete icon */
  .delete-icon {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }

  /* changed mind button */
  .changed-mind-btn {
    font-size: 15px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  /* sort, select */
  .btn-type-1 {
    font-weight: 500;
    font-size: 27px;
    gap: 4px;
    width: 442px;
    height: 52px;
  }

  /* edit, delete, ascending, descending */
  .btn-type-2 {
    width: 252px;
    height: 44px;
    font-size: 16px;
  }

  /* add new actor, update */
  .btn-primary {
    width: 500px;
    height: 72px;
    font-size: 24px;
  }

  /* close button */
  .close-btn {
    width: 34px;
    height: 34px;
    font-size: 22px;
    padding: 6px;
  }

  .notification-window-close-btn {
    font-size: 20px;
    margin-top: 4px;
    margin-left: 64px;
  }

  /* readMore/readLess button */
  .read-more-read-less-btn {
    font-size: 16px;
    margin: 16px 0px;
  }

  .more-arrow {
    margin: -3px 3px;
  }

  .less-arrow {
    margin: -3px 3px;
  }

  /* edit icon */
  .edit-icon {
    font-size: 16px;
    margin-left: 8px;
  }

  /* ascending & descending arrow icon */
  .arrow-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  /* delete icon */
  .delete-icon {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }

  /* changed mind button */
  .changed-mind-btn {
    font-size: 24px;
  }
}

/* large */
@media (min-width: 1025px) {
  /* sort, select */
  .btn-type-1 {
    font-weight: 400;
    font-size: 24px;
    gap: 8px;
    width: 440px;
    height: 52px;
    /* nu sunt definite width si heigth */
  }

  /* edit, delete, ascending, descending*/
  .btn-type-2 {
    width: 300px;
    height: 50px;
    font-size: 21px;
  }

  /* add new actor, update */
  .btn-primary {
    width: 500px;
    height: 72px;
    font-size: 24px;
  }

  /* close button */
  .close-btn {
    width: 24px;
    height: 24px;
    font-size: 15px;
    padding: 4px;
  }

  .notification-window-close-btn {
    font-size: 20px;
    margin-top: 4px;
    margin-left: 64px;
  }

  /* readMore/readLess button */
  .read-more-read-less-btn {
    font-size: 21px;
    margin: 10px 0px;
  }

  .more-arrow {
    margin: -3px 3px;
  }

  .less-arrow {
    margin: -3px 3px;
  }

  /* edit icon */
  .edit-icon {
    font-size: 21px;
    margin-left: 8px;
  }

  /* ascending & descending arrow icon */
  .arrow-icon {
    font-size: 20px;
    margin-right: 10px;
  }

  /* delete icon */
  .delete-icon {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
  }

  /* changed mind button */
  .changed-mind-btn {
    font-size: 24px;
  }

  .btn-type-4 {
    padding: 8px 16px;
    font-size: 24px;
    width: 200px;
    height: 48px;
    margin-right: 56px;
  }
}
