textarea {
  padding: 16px;
  width: 335px;
  height: 150px;
  background-color: #eff0f7;
  border-radius: 10px;
  align-self: stretch;
  margin: 16px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  color: #6e7191;
  border: none;
  box-sizing: border-box;
  display: inline-block;
}

::-webkit-textarea-placeholder {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  /* stanga jos */
}

/* required */

/* textarea:required {
  background-color: #ffe5f2;
}

textarea:required:focus {
  border: 2px solid #ed2e7e;
  box-sizing: border-box;
  outline: none !important;
}

textarea:required + span::after {
  content: "Field required";
  color: #98014c;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
} */
