textarea {
  background-color: #eff0f7;
  width: 335px;
  height: 150px;
  padding: 16px;
  border-radius: 10px;
  margin: 16px 9px;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 1;
}

::-webkit-textarea-placeholder {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: #6e7191;

  /* stanga jos */
}
.chars-remained-text {
  font-style: normal;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #4e4b66;
  z-index: 2;
  position: absolute;
}

/* required */

/* textarea:required {
  background-color: #ffe5f2;
}

textarea:required:focus {
  border: 2px solid #ed2e7e;
  box-sizing: border-box;
  outline: none !important;
}

textarea:required + span::after {
  content: "Field required";
  color: #98014c;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
} */

/* small */
@media screen and (max-width: 480px) {
  .chars-remained-text {
    font-weight: 300;
    font-size: 10px;
    left: 32px;
    top: 734px;
    /* situatia in care textul e mai mare */
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
