.no-actors {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.no-actors-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--off-black);
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

/* small */
@media screen and (max-width: 480px) {
  .no-actors {
    height: 812px;
  }

  .no-actors-content-wrapper {
    margin: auto;
    font-size: 24px;
  }

  .no-actors-sad-icon {
    width: 91px;
    height: 91px;
    margin: auto;
  }

  .no-actors-btn-wrapper {
    margin: 40px auto;
  }

  .no-actors-add-actor-btn {
    width: 159px;
    height: 56px;
    font-size: 14px;
  }
}

/* medium */
@media (min-width: 481px) and (max-width: 1024px) {
  .no-actors {
    height: auto;
  }

  .no-actors-content-wrapper {
    margin: auto;
    font-size: 36px;
  }

  .no-actors-sad-icon {
    width: 91px;
    height: 91px;
    margin: auto;
  }

  .no-actors-btn-wrapper {
    margin: 40px auto;
  }

  .no-actors-add-actor-btn {
    width: 500px;
    height: 72px;
    font-size: 24px;
  }
}

/* large */
@media (min-width: 1025px) {
  .no-actors {
    height: auto;
  }

  .no-actors-content-wrapper {
    margin: auto;
    font-size: 36px;
  }

  .no-actors-sad-icon {
    width: 91px;
    height: 91px;
    margin: auto;
  }

  .no-actors-btn-wrapper {
    margin: 40px auto;
  }

  .no-actors-add-actor-btn {
    width: 500px;
    height: 72px;
    font-size: 24px;
  }
}
