.notification-window {
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.success {
  background-color: #e5fff2;
  color: #00994d;
}

.warning {
  background-color: #fefee5;
  color: #6a5300;
}

.danger {
  background-color: #ffe5f2;
  color: #ed2e7e;
}

.notification-window-icon-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.notification-window-text {
  font-weight: 600;
  line-height: 24px;
}

/* small */
@media screen and (max-width: 480px) {
  .notification-window {
    height: 72px;
  }

  .notification-window-text {
    font-size: 15px;
    margin-left: 16px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  .notification-window {
    height: 116px;
  }

  .notification-window-text {
    font-size: 24px;
    margin-left: 69px;
  }
}

/* large */
@media (min-width: 1025px) {
  .notification-window {
    height: 116px;
  }

  .notification-window-text {
    font-size: 24px;
    margin-left: 69px;
  }
}
