/* Select modal */
.select-actors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-actors-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-actors-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* small */
@media screen and (max-width: 480px) {
  .select-actors {
    font-size: 18px;
    margin-top: 28px;
  }

  .select-actors-btn {
    width: 324px;
  }

  .select-actors-field {
    margin: 24px auto;
  }

  .select-actors-field label {
    font-size: 18px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  .select-actors {
    font-size: 22px;
    margin-top: 28px;
  }

  .select-actors-field {
    margin: 24px auto;
  }

  .select-actors-field label {
    font-size: 22px;
  }

  .select-actors-btn {
    width: 404px;
  }

  .select-actors-delete-btn {
    margin-top: 72px;
  }
}

/* large */
@media (min-width: 1025px) {
  .select-actors {
    font-size: 22px;
    margin-top: 28px;
  }

  .select-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  .select-actors-field {
    margin: 24px auto;
  }

  .select-actors-field label {
    font-size: 22px;
  }

  .select-actors-btn {
    width: 404px;
  }

  .select-actors-delete-btn {
    margin-top: 72px;
  }

  /* .select-actors-large{

  } */

  .sort-actors-select-btn {
    border: none;
    cursor: pointer;
    margin-left: 56px;
  }
}
