/* Select modal */
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.delete-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-actors-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* small */
@media screen and (max-width: 480px) {
  .select-actors-field {
    margin: 24px auto;
  }

  .select-actors-field label {
    font-size: 18px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
