/* mobile styles */
.logo {
  color: var(--off-black);
  font-weight: 700;
  line-height: 120%;
  font-style: normal;
}

.header-logo {
  text-align: center;
}

/* small */
@media screen and (max-width: 480px) {
  .logo {
    font-size: 16px;
  }

  .header-logo {
    padding: 60px 133px 17px;
  }

  .footer-logo {
    font-size: 13px;
    margin-right: 20px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  .logo {
    font-size: 30px;
  }

  .header-logo {
    padding: 34px 133px 17px;
  }

  .footer-logo {
    font-size: 20px;
    margin-right: 36px;
  }
}

/* large */
@media (min-width: 1025px) {
  .logo {
    font-size: 32px;
  }

  .header-logo {
    padding: 34px 133px 17px;
  }

  .footer-logo {
    font-size: 20px;
    margin-right: 200px;
  }
}
