.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 162px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: relative;
}

.btn-card-container {
  position: absolute;
  left: 90%;
  top: -1%;
}

.actor-img {
  width: 162px;
  height: 173px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  z-index: -1;
}

.job-likes {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
}

.jobs {
  color: rgba(78, 75, 102, 1);
  font-weight: 300;
  font-style: normal;
  font-size: 11px;
  line-height: 120%;
}

.likes {
  color: rgba(244, 183, 64, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
}

.tags-container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  padding-left: 10px;
}
.tags-container > div {
  margin: 2%;
}
.description p {
  display: flex;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  padding: 5px 10px;
  color: rgba(110, 113, 145, 1);
}
