.card {
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.card-close-btn-wrapper {
  position: absolute;
}

.card-checkbox-wrapper {
  position: absolute;
}

.card-actor-img {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  z-index: -1;
}

.card-job-likes-wrapper {
  display: flex;
  justify-content: space-around;
}
/* aici am ramas */
.card-jobs {
  color: rgba(78, 75, 102, 1);
  font-style: normal;
  line-height: 120%;
}

.card-likes {
  color: rgba(244, 183, 64, 1);
  font-weight: 600;
  line-height: 130%;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
}

.card-description {
  color: rgba(110, 113, 145, 1);
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

/* small */
@media screen and (max-width: 480px) {
  .card {
    width: 162px;
    height: auto;
  }

  .card-close-btn-wrapper {
    left: 90%;
    top: -1%;
  }

  .card-checkbox-wrapper {
    left: -50%;
   
  }

  .card-actor-img {
    width: 162px;
    height: 173px;
  }

  .card-title {
    font-size: 13px;
    margin: 4px 12px;
  }

  .card-job-likes-wrapper {
    margin: 4px auto;
  }

  .card-jobs {
    font-weight: 300;
    font-size: 11px;
  }

  .card-likes {
    font-size: 11px;
    margin-left: 12px;
  }

  .card-tags {
    margin: 4px 8px;
  }

  .card-description {
    font-size: 10px;
    margin: 8px auto;
  }

  .card-edit-btn {
    margin: 8px auto;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
