.modal {
  background: var(--white);
  border-radius: 24px 24px 0px 0px;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 56px 0px 32px;
  position: relative;
}

.sort-type {
  height: 296px;
}

.select-type {
  height: 280px;
}

.add-actor-type {
  height: auto;
}

.modal-close-btn-div {
  display: flex;
  justify-content: end;
  position: absolute;
  left: 85%;
  top: 3%;
}
