.top-btns-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.home-error {
  text-align: center;
}

/* small */
@media screen and (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-btn-primary {
    margin: 40px auto;
  }

  .top-btns-container {
    margin-top: 36px;
    padding: 8px;
  }

  .cards-container {
    margin-top: 10px;
    padding: 16px;
    gap: 11px;
  }

  .home-cards-container-down {
    margin-top: 208px;
  }
}

/* medium */
@media (min-width: 481px) and (max-width: 1024px) {
  .top-btns-container {
    margin: 32px auto;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-container {
    margin: 56px auto;
    gap: 24px;
  }

  .home-btn-primary {
    margin: 100px auto;
  }

  .home-cards-container-down {
    margin-top: 348px;
  }
}

/* large */
@media (min-width: 1025px) {
  .top-btns-container {
    background-color: #eff0f6;
    margin: 0 auto;
    height: 100px;
  }

  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards-container {
    margin: 56px auto;
    gap: 24px;
  }

  .home-btn-primary {
    margin: 120px auto;
  }
}
