.read-more-read-less-wrapper {
  color: rgba(110, 113, 145, 1);
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-weight: 300;
}

/* small */
@media screen and (max-width: 480px) {
  .read-more-read-less-wrapper {
    font-size: 10px;
    padding: 5px 10px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
