input[type="checkbox"] {
  background-color: #d9dbe9;
  border-radius: 22px;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked {
  background-color: #6308f7;
}

input[type="checkbox"]:checked:before {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  content: "";
  display: block;
  transform: rotate(45deg);
}

/* #checked {
  background-color: #6308f7;
  content: "";
} */

/* input text */
input[type="text"] {
  background-color: #eff0f7;
  border-radius: 10px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

input[type="text"]:focus {
  outline: none !important;
}

.span {
  color: #98014c;
  font-weight: 600;
  line-height: 22px;
}

.span-none {
  display: none;
}

.span-on-blur::after {
  content: "Field required";
}

input[type="text"]:invalid[focused="true"] {
  border: 2px solid #ed2e7e;
  box-sizing: border-box;
  outline: none !important;
  background-color: #ffe5f2;
}

#required {
  background-color: #ffe5f2;
  border: 2px solid #ed2e7e;
  box-sizing: border-box;
  outline: none !important;
}

.text-label {
  color: #4e4b66;
  font-style: normal;
  font-weight: 400;
}

/* small */
@media screen and (max-width: 480px) {
  input[type="checkbox"] {
    height: 32px;
    width: 32px;
    margin: -8px 10px 10px 200px;
    /* alta solutie */
  }

  input[type="checkbox"]:checked:before {
    width: 7px;
    height: 12px;
    margin-left: 10px;
    margin-top: 7px;
  }

  input[type="text"] {
    width: auto;
    height: 50px;
    padding: 16px;
    margin: 16px 0;
  }

  .span {
    font-size: 13px;
    margin: 0px 8px;
  }

  /* 
  input[type="text"]:required + span::after {
    font-size: 13px;
    line-height: 22px;
    margin: 0px 8px;
  } */

  .text-label {
    font-size: 15px;
    line-height: 120%;
    margin: 0px 8px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
  input[type="text"]:required + span::after {
    font-size: 20px;
    line-height: 24px;
  }
}

/* large */
@media (min-width: 1025px) {
}
