/* mobile styles */
.App {
  background-color: var(--gray-background);
}

.top-btns-container {
  display: flex;
  justify-content: space-evenly;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

/* small */
@media screen and (max-width: 480px) {
  .top-btns-container {
    margin-top: 36px;
    padding: 8px;
  }

  .cards-container {
    margin-top: 10px;
    padding: 16px;
    gap: 11px;
  }
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
