/* mobile styles */
.App {
  background-color: var(--gray-background);
}

.actor {
  padding: 10px;
}

.actor ul {
  list-style: none;
}

.top-btns-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 39px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  gap: 11px;
  justify-items: center;
}
