/* variables */
:root {
  --white: #fff;
  --off-black: #14142b;
  --gray-background: #e5e5e5;
  --primary: #6308f7;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* base styles */

button {
  background: none;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

/* fonts */
* {
  font-family: "Poppins", sans-serif;
}
