/* variables */
:root {
  --white: #fff;
  --off-black: #14142b;
  --gray-background: #e5e5e5;
  --primary: #6308f7;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* base styles */

button {
  background: none;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

/* fonts */
* {
  font-family: "Poppins", sans-serif;
}

/* mobile styles */

/* For Tablets */
/* vezi daca sunt corecte dimensiunile */
/* @media (max-width: 960px) {
 
  } */

/* For Laptops/Desktop */
/* @media (min-width: 1025px) {

} */

/* small */
@media screen and (max-width: 480px) {
}

/* medium */

@media (min-width: 481px) and (max-width: 1024px) {
}

/* large */
@media (min-width: 1025px) {
}
