@import url("https://fonts.google.com/specimen/Poppins");

body {
  margin: 0;
  font-family: "Poppins";
}

/* @font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Black.ttf) format("opentype");
} */
/* font folosit -times new roman */
